extends ../layouts/LayoutComponent

block append content
  +PageHeader({ title: "Design File" })
    p.mb-1.mt-2 We have designed #{name} initially directly with code. After receiving multiple requests from our customers for design files, we recreated the design in Figma.

  .card
    .card-body
      .alert.alert-info.p-3.mb-4(role='alert')
        .d-flex
          span.fas.fa-exclamation-circle.fs-6
          .flex-1.ms-3
            p.mb-0 Figma file is only available for 
              strong Standard Plus 
              | &amp; 
              strong Extended Plus 
              | license
      h5(data-anchor) To play with the design:
      ul
        li 
          a(href="https://www.figma.com/" target="_blank") Download Figma
        li Download 
          code #{name}-design-#{version}.zip  
          | from ThemeWagon account
        li Open the figma link from 
          code #{name}-design-#{version} -> Figma file link.md 
          | file
        li The file is "read-only", so you'll have to duplicate it! Go to your grid of documents in Figma, click the ellipsis icon on 
          b.text-primary.text-600 #{name} (Distributed)
          | , and then "Duplicate" to create an editable version.